#first{
  padding-left: 8%;
  padding-right: 8%;
}
.custom-section {
background-color: #ffff;
padding-top: 50px;
}

.flex-container {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
max-width: 1200px;
margin: 0 auto;
}

.flex-item {
flex-basis: calc(33.33% - 20px);
margin-bottom: 40px;
text-align: center;
}

.flex-item img {
max-width: 100%;
height: auto;
margin-bottom: 20px;
}

.flex-item p {
font-size: 18px;
color: #666;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1%;
  padding-left: 10%;
  padding-right: 10%;
}

.gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.container{
  display: flex;
  justify-content: space-between;
  padding: 3.2%;
}

.card{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.footer{
  background-color: #F8F9FA;
  margin-top: 0;
}
.container-2{
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 8%;
  padding-bottom: 2%;
}