#first{
  padding-left: 8%;
  padding-right: 8%;
}

.flex-container {
display: flex;
justify-content: space-around;
background-color: #ffff;
padding-top: 4%;
padding-left: 7%;
padding-right: 7%;
}

.flex-item {
flex-basis: auto;
padding: 0 1%;
text-align: center;
}

.flex-item img {
max-width: 100%;
height: auto;
margin-bottom: 1%;
}

.flex-item p {
font-size: 130%;
color: #666;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  padding: 3.2%;
}
.card-container{
  display: flex;
  justify-content: space-between;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 3%;
}

.card{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  margin: 2%;
}

.footer{
  background-color: #F8F9FA;
  margin-top: 0;
}
.inner-container{
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 8%;
  padding-bottom: 2%;
}
@media screen and (max-width: 576px) {
  .flex-container{
    flex-direction: column;
  }
  .card-container{
    flex-direction: column;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
  }
  .card, .flex-item{
    margin-bottom: 10%;
  }
  .footer-container{
    flex-direction: column;
    align-items: start;
  }
  .inner-container{
    padding-left: 3%;
  }
  .card{
    width: 90%;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px){
  .flex-container{
    display: flex;
    flex-wrap: wrap;
  }
  .flex-item {
    flex-basis: 50%;
    padding: 0 1%;
    text-align: center;
    }
}